[Unit]
Description=My app flask server
After=network.target

[Service]
User=vagrant
Group=vagrant
WorkingDirectory=/home/vagrant/my-app
Environment="FLASK_APP=app.py"
ExecStart=flask run --host=192.168.56.200 --port=8080

[Install]
WantedBy=multi-user.target
